svg {
    overflow: unset !important;
    padding: 0 !important;
    margin: 0 !important;
}

.tooth-root:hover{
    fill: blue !important;
}

.tooth:hover{
    fill: rebeccapurple !important;
}

.dental-chart{
    display: flex;
    justify-content: center;
}

.tooth-label{
    display: flex;
    justify-content: center;
    text-align: left;
    font-weight: 500;
}

.tooth-label .col{
    margin: 10px;
}

.dental-chart .row{
    margin: 0;
    padding: 0;
}

.dental-chart-bottom{
    display: flex;
    justify-content: center;
    margin-top: 0.5in;
}

.dental-chart-bottom .row{
    margin: 0;
    padding: 0;
}

.unmarked {
    fill: white;
  }
  .marked {
    fill: rebeccapurple ;
  }