svg {
    overflow: unset !important;
    padding: 0 !important;
    margin: 0 !important;
}

#root:hover{
    fill: blue !important;
}

#tooth:hover{
    fill: rebeccapurple !important;
}

.dental-chart{
    display: flex;
    justify-content: center;
    background-color: aquamarine;

}

.dental-chart .row{
    margin: 0;
    padding: 0;
}

.dental-chart-bottom{
    display: flex;
    justify-content: center;
    background-color: aquamarine;

}

.dental-chart-bottom .row{
    margin: 0;
    padding: 0;
}

.unmarked {
    fill: white;
  }
  .marked {
    fill: rebeccapurple ;
  }