/*--------------------------------------------------------------
# Booking
--------------------------------------------------------------*/
.doctor-info {
    padding: 0.3in;
}

.doctor-info h1 {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}

.doctor-info h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    color: #5d5fef;
}

.doctor-info h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.appointment-form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* padding-top: 10px;
    padding-left: 0.3in;
    padding-bottom: 0.4in; */
}

.appointment-form .col-md-4{
    margin-bottom: 20px;
}

.appointment-form .form-label{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.timeslot{
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 5px;
}

.timeslot .time{
    background-color: #fff;
    color: #5d5fef;
    border-color: #5d5fef;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 10px 30px
}

.timeslot .time:hover{
    background-color: #5d5fef;
}

.slots{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

