/*------Calendar------*/
.card-body{
    padding: 30px;
}

.calendar-breadcrumb{
    margin: 20px;
    margin-top: -5px;
    margin-left: -5px;
    font-size: 20px;
}

/*------Calendar-Checkbox------*/
.calendar-checkbox{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
    font-size: 15px;
    padding: 20px;
    border-style: hidden;
    border-radius: 15px;
    border-width: 100px;
    background-color:#ffffff;

}

/*----Calendar Checkbox inputs/labels----*/
.form-check-input{
    padding-right: 30px;
    padding: 6px;
}

.form-check .form-check-input{
    float: initial;
}

.form-check-input:checked{
    background-color: #5D5FEF;
}

.form-check-label{
    padding-right: 35px;
    padding-left: 5px;
}
  
.form-check-input2{
    padding-right: 30px;
}

.form-check-label2{
    padding-right: 35px;
    padding-left: 5px;
}
  
.form-check-input3{
    padding-right: 30px;
}
  
.form-check-label3{
    padding-right: 35px;
    padding-left: 5px;
}
  
.form-check-input4{
    padding-right: 30px;
}
  
.form-check-label4{
    padding-right: 35px;
    padding-left: 5px;
}

/*----Calendar badges----*/
.bg-warning{
    margin-left: -30px;
    margin-right: 40px;
}
  
.bg-info{
    margin-left: -30px;
    margin-right: 40px;
}
  
.bg-success{
    margin-left: -30px;
    margin-right: 40px;
}
  
.bg-danger{
    margin-left: -30px;
    margin-right: 40px;
}

.form-check .circle1 i{
    color: #FBBF24;
    margin-right: 40px;
    margin-left: -20px;
    margin-top: 11px;

}

.form-check .circle2 i{
    color: #60A5FA;
    margin-right: 40px;
    margin-left: -20px;
    margin-top: 11px;

}

.form-check .circle3 i{
    color: #10B981;
    margin-right: 40px;
    margin-left: -20px;
    margin-top: 11px;

}

.form-check .circle4 i{
    color: #EF4444;
    margin-right: 40px;
    margin-left: -20px;
    margin-top: 11px;

}


/* Card Body */
.card-body {
    margin-top: 20px;
    padding: 20px;
    
}

/* Calendar Header */

.fc-today-button.fc-button.fc-button-primary {
    background-color: #2c3e5000;
    color: black;
    border-color: #2c3e5000;
}

.fc-today-button.fc-button.fc-button-primary:active{
    background-color: #2c3e5000;
    color: black;
}

#fc-dom-1.fc-toolbar-title{
    color: rgba(110, 92, 245);
    font-family: var(--body-font);
    font-size: 25px;
    font-weight: bolder;
}

.fc-today-button.fc-button.fc-button-primary.fc-button-active{
    background-color: #5d5fef;
    border-color: #2c3e5000;
}

.fc-dayGridMonth-button.fc-button.fc-button-primary.fc-button-active {
    background-color: #5d5fef;
    border-color: #2c3e5000;
    
}

.fc-timeGridWeek-button.fc-button.fc-button-primary.fc-button-active {
    background-color: #5d5fef;
    border-color: #2c3e5000;
}

.fc-timeGridDay-button.fc-button.fc-button-primary.fc-button-active {
    background-color: #5d5fef;
    border-color: #2c3e5000;
}

.fc-dayGridMonth-button.fc-button.fc-button-primary {
    background-color: #ffffff;
    color: black;
}

.fc-timeGridWeek-button.fc-button.fc-button-primary {
    background-color: #ffffff;
    color: black;
}

.fc-timeGridDay-button.fc-button.fc-button-primary {
    background-color: #ffffff;
    color: black;
}

.fc-prev-button.fc-button.fc-button-primary {
    background-color: #ffffff;
    color: black;
    border-color: #2c3e5000;
}

.fc-prev-button.fc-button.fc-button-primary:active {
    background-color: #2c3e5000;
    color: black;
}

.fc-next-button.fc-button.fc-button-primary{
    background-color: #ffffff;
    color: black;
    border-color: #2c3e5000;
}

.fc-next-button.fc-button.fc-button-primary:active {
    background-color: #2c3e5000;
    color: black;
}

/* Calanedar Days Grid */

/*.fc-col-header-cell.fc-day.fc-day-sun {
    padding-bottom: 25px;
}*/



.fc-col-header-cell.fc-day {
    padding-bottom: 25px;
    
}

.fc-col-header-cell-cushion {
    color: #00000080;

}

.fc-daygrid-day-number {
    color: #00000080;
}

.fc-daygrid-day.fc-day.fc-day-sun.fc-day-past {
    background-color: rgb(237, 237, 237);
    
}

.fc-daygrid-day.fc-day.fc-day-sun.fc-day-future {
    background-color: rgb(237, 237, 237);
    
}

.fc .fc-highlight {
    background: #5D5FEF;
    opacity: 0.2;
    
}

.fc-view-harness.fc-view-harness-active {
    height: 550px !important;
}





