
/* Card */
.card-form {
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
  }
  
  .card-header,
  .card-footer {
    border-color: #ebeef4;
    background-color: #fff;
    color: #798eb3;
    padding: 15px;
  }
  
  .card-title {
    padding: 20px 0 15px 0;
    font-size: 26px;
    font-weight: 700;
    color: var(--text-color);
    font-family: "Montserrat", sans-serif;
  }
  
  .card-title span {
    color: #899bbd;
    font-size: 14px;
    font-weight: 400;
  }
  
  .card-body-form {
    padding: 50px 20px 40px 20px;
    border-radius: 10px;
    background-color: #fff;;
  }
  
  .card-body h1 {
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.2px;
    color: var(--text-color);
  }
  
  .card-body .table-button{
    background-color: var(--primary-color);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    width: 148px;
    height: 41px;
    padding: 8px 12px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-right: 14px;
    margin-bottom: 16px;
  }
  
  .card-title span {
    color: #899bbd;
    font-size: 14px;
  }
  
  
  .card-img-overlay {
    background-color: rgba(255, 255, 255, 0.6);
  }

  .rx-btn{
    margin-top:1%;
    margin-right: 1%;
    text-align: right;
    justify-content: right;
  }

  .bg-danger-light {
    background-color: #f8d7da;
    border-color: #f8d7da;
  }

  .bg-danger-light:hover {
    background-color: #fac1c6;
    border-color: #fac1c6;
  }

  .rx-label{
    font-weight: 700;
    color: #A0A4A8;
  }
  
  .rx-title{
    color: var(--primary-color);
    display: inline-block;
    margin-left: 14px;
  }

  .rx-notes{
    margin-top: 8%;
  }

  .rx-pr{
    margin: 2% 0;
  }
