.patient-info .btn .add-item-btn{
    float: none !important;
}

.form-section-title{
    font-weight: 600;
    font-size: 18px;
    color: #111827;
    margin: 20px 0px 20px 0px;
}

.transaction-details-row .patient-transaction-details{
    margin-bottom: 0.2in;
}

.transaction-details-row h6{
    font-weight: 600;
    font-size: 18px;
    color: #343A40;
}

.transaction-details-row span{
    font-weight: 400;
    font-size: 18px;
}

.add-item-btn{
    margin-bottom: 0.2in;
}

.bg-success {
    padding-left: 20%;
    padding-right: 20%;
}

.rx-btn {
    margin-top: 1%;
    margin-right: 1%;
    text-align: right;
    justify-content: right;
}

label .paylabel {
    float: right;
    font-weight: 700;
    font-size: 16px;
}

.total-pay {
    text-align: right;
    justify-content: right;
}

.btn-link a {
    z-index: 900;
    text-decoration: none;
    color: white;
}

.bg-danger-light {
    background-color: #f8d7da;
    border-color: #f8d7da;
}

.bg-danger-light:hover {
    background-color: #fac1c6;
    border-color: #fac1c6;
}

.card-body-receipt{
    padding: 10px 20px 40px;
    border-radius: 10px;
    background-color: white;
}

.total-bill{
    text-align: right;
    padding-top: 3%;
    line-height: 2;
    font-weight: 700;
    font-size: 16px;
}
