.patient-info .card-title{
    color: var(--primary-color);
    /* padding: 15px 0px 10px 0; */
    margin-left: 14px;
}

.patient-info h4{
    margin: 15px 0px;
    font-weight: 700;
    font-size: 17px;
    line-height: 150%;
}

.patient-info .label{
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
}

.patient-info .row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-left: 15px;
    margin-bottom: 16px;
}

/* No Dental Record */
.no-record{
    display: flex;
    flex-direction: unset !important;
    justify-content: center !important;
    margin: 0 auto;
}

.no-record img{
    width: 400px;
    height: 400px;
}

.empty-message h2{
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 23px;
	color: #5d5fef;
}

.empty-message p{
    text-align: center;
	font-size: 14px;
    color: #737373;
    margin-bottom: 8px;
}

.no-record .create-record{
    padding: 8px 12px;
    display: flex;
	justify-content: center;
}

/* dental record form */
.dental-record-form .row{
    margin: 0.2in;
}
.dental-record-form h4{
    margin: 15px 0px;
    font-weight: 700;
    font-size: 17px;
    line-height: 150%;
}

.dental-record-form h6{
    /* margin: 15px 0px; */
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.dental-record-form .form-check-label{
    font-size: 14px;
    color: #212529;
}

.dental-form-buttons .btn{
    float: right;
    margin-left: 10px;
}

/* containers */
.profile-widget-container,
.treatment-details-container,
.dental-chart-container,
.procedure-container{
    justify-content: center;
    margin-top: 0.5in;
}

/* treatment details */
.treatment-date{
    margin-bottom: 0.2in;
}

.treatment-files{
    justify-content: center;
}

/* Dental Chart -> Select Procedure */
.procedure-container{
    padding: 0 0.5in;
}
.procedure-row{
    margin-bottom: 0.4in;
    margin: 0.2in;
}

.procedure-label{
    color: var(--primary-color);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.procedure-div{
    margin: 10px 0px;
    width: 300px;
}

