/*--------------------------------------------------------------
# Header Login Page
--------------------------------------------------------------*/
#headerlogin {
  background: var(--bg-color);
  position: fixed;
  transition: all 0.5s;
  z-index: 997;
  padding: 24px;
  top: 40px;
  box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
}

#headerlogin .logo {
  font-size: var(--h1-font-size);
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: var(--body-font);
}

#headerlogin .logo a {
  color: var(--text-color);
}

.auth-container{
  display: flex;
  justify-content: center;
  margin-top: 0.5in;
}

.auth-section{
  padding: 0.5in;
}

/* Login Form Box */
.center {
  position: relative;
  /* top: 5%; */
  margin-top: 370px;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 500px;
  border-radius: var(--border-radius-soft);
  box-shadow: var(--box-shadow-normal);
  font: var(--body-font);
  background: white;
  padding: 3%;
}

.center h1 {
  text-align: center;
  padding: 20px 0 10px 0;
  font-size: var(--h1-font-size);

}

.center form {
  padding: 0 90px;
  box-sizing: border-box;
}


#sub {
  text-align: center;
  color: var(--text-color-alt);
}

.titleform {
  font-weight: 700;
  font-size: 30px;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}
.titleform a{
  color: #252B42;
}

form .txt_field {
  position: relative;
  margin: 20px;
}

.txt_field input {
  width: 100%;
  padding: 5px 10px;
  height: 30px;
  font-size: var(--normal-font-size);
  border: unset;
  border-radius: 7px;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px;
  background: rgb(255, 255, 255);
  outline-color: var(--text-color-alt);
}

.txt_field label {
  top: 50%;
  left: 5px;
  color: var(--text-color-alt);
  transform: translateY(-50%);
  font-size: var(--normal-font-size);
  pointer-events: none;

}

.pass {
  text-align: left;
  margin-bottom: 2%;
  color: #5D5FEF;
  cursor: pointer;
}

.pass:hover {
  text-decoration: underline;
}

input[type="submit"] {
  width: 100%;
  height: 45px;
  border: var(--border-edge);
  background: var(--secondary-color);
  border-radius: var(--border-radius-soft);
  color: var(--text-color-light);
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi-bold);
}

input[type="submit"]:hover {
  background-color: var(--primary-color);
  transition: .5s;
}

.signup_link {
  margin: 30px 0;
  text-align: center;
  font-size: var(--normal-font-size);
  color: var(--text-color-alt);
}

.signup_link a{
  color: var(--primary-color);
  text-decoration: none;
  font-weight: var(--font-semi-bold);
}

.signup_link a:hover{
  text-decoration: underline;
  transition: .5s;
}

.auth-inner-signup .signup_link {
  text-align: center;
  font-size: var(--normal-font-size);
  color: var(--text-color-alt);
}

.auth-inner-signup .signup_link a{
  color: var(--primary-color);
  text-decoration: none;
  font-weight: var(--font-semi-bold);
}

.auth-inner-signup .signup_link a:hover{
  text-decoration: underline;
  transition: .5s;
}

.field-checkbox input {
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-right: 10px;
  box-shadow: unset;
  min-height: unset;
}

.field-checkbox label {
  display: flex;
  margin-top: 10px;
  align-items: center;
  margin: 0;
}

.img_hero_login {
  position: relative;
  width: 733px;
  height: 757px;
  left: 60px;
  top: -10px;

}

.img_hero_login img {
  width: 650px;
  height: 670px;
  margin: -20px 0 0 130px;
}

#herologin {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

/*--------------------------------------------------------------
# SIGN UP CSS
--------------------------------------------------------------*/

/** {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  box-sizing: border-box !important;
}*/

/*body,
html,
.App,
#root,
.auth-wrapper {
  width: 100%;
  height: 100%;
  
}*/

.auth-inner {
  width: 500px;
  margin: auto;
  background: white;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 30px 55px 30px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-inner-signup {
  width: auto;
  margin: auto;
  background: white;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 30px 55px 30px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.form-control:focus {
  border-color: var(--primary-color) !important;
  box-shadow: none !important;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: var(--text-color-alt);
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.forgot-password a:hover {
  cursor: pointer;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--secondary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary-color);
  --bs-btn-hover-border-color: var(--primary-color);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-color);
  --bs-btn-active-border-color: var(--primary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--primary-color);
  --bs-btn-disabled-border-color: var(--secondary-color);
}

.btn-outline-primary {
  --bs-btn-color: var(--secondary-color);
  --bs-btn-border-color: var(--secondary-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary-color);
  --bs-btn-hover-border-color: var(--primary-color);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-color);
  --bs-btn-active-border-color: var(--primary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--primary-color);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--secondary-color);
  --bs-gradient: none;
}

.label {
  font-weight: 600;
  margin-bottom: 5px !important;
  color: rgba(1, 41, 112, 0.6);
}

.react-tel-input .form-control{
  width: 190px !important;
  height: 39px !important;
}