/* From admin-patients css for testing */
.pro-widget-content {
    border-bottom: 1px solid #f0f0f0;
    padding: 20px;
    text-align: center;
}

.profile-info-widget .booking-doc-img img {
    border-radius: 50px;
    height: 100px;
    width: 100px;
    object-fit: cover;
}
.profile-det-info {
    overflow: hidden;
}
.profile-det-info h3 {
    margin: 15px;
    font-size: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.patient-details h5 {
    color: #757575;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.patient-details h5 i {
    width: 18px;
}

.pat-widget-profile .pro-widget-content {
    padding: 0 0 20px;
}
.pat-widget-profile .booking-date li {
    font-size: .875rem;
}
.pat-widget-profile .booking-date li span {
    font-size: .875rem;
}

.patient-info {
    margin-top: 15px;
}
.patient-info ul {
    padding: 20px;
    list-style: none;
    font-size: .875rem;
    margin: 0;
}
.patient-info ul li {
    position: relative;
    font-size: .875rem;
    font-weight: 500;
    color: #272b41;
    text-transform: capitalize;
}
.patient-info ul li + li {
    margin-top: 15px;
}
.patient-info ul li i {
    width: 18px;
}
.patient-info ul li span {
    color: #757575;
    float: right;
    font-weight: 400;
}

.patient-profile-widget .row{
    display: flex;
    flex-direction: row;
}

.widget-button-container{
    margin: 15px 15px;
    display: flex;
    justify-content: center;
}

.widget-btn{
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    border-radius: 32px;
    width: 330px;
}