
.patient-info .card-title{
    color: var(--primary-color);
    display: inline-block;
    /* padding: 15px 0px 10px 0; */
    margin-left: 14px;
}

.patient-info .row{
    display: inline-block;
}

.patient-info h4{
    margin: 15px 0px;
    font-weight: 700;
    font-size: 17px;
    line-height: 150%;
}

.patient-info .label{
    font-weight: 700;
    color: #A0A4A8;
}

.patient-info .row{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin-left: 15px;
    margin-bottom: 16px;
}

.patient-info .btn{
    margin-top: 15px;
    margin-left: 10px;
    align-items: center;
    float:right;
}

.patient-info .btn i{
    margin-right: 5px;
}
