*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}
.title{
    padding-left: 2%;
}

.dc{
    padding-left: 5%;
}

hr{
    margin-left: 2%;
    margin-right: 25%;
}


#header {
    background: var(--bg-color);
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 5px 10px rgb(0 0 0 / 5%);
  }
  
  #header .header-scrolled {
    top: 0;
  }
  
  #header .logo {
    font-size: var(--h1-font-size);
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-family: var(--body-font);
  }
  
  #header .logo a {
    color: var(--text-color);
  }
  
  #header .logo img {
    max-height: 40px;
  }

  
  .navbar {
    padding: 0;
  }
  
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar li {
    position: relative;
  }
  
  .navbar>ul>li {
    position: relative;
    white-space: nowrap;
    padding: 8px 0 8px 20px;
  }
  
  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--font-medium);
    font-size: 14px;
    color: var(--text-color-alt);
    white-space: nowrap;
    transition: 0.3s;
    border-bottom: 2px solid var(--bg-color);
    padding: 5px 2px;
  }
  
  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }
  
  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
  
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 20px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: var(--text-color);
    border: none;
  }
  
  .navbar .dropdown ul a i {
    font-size: 12px;
  }
  
  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--primary-color);
  }
  
  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  
  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
  }